*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 50px;
    width: 75px;
    background-color: yellowgreen;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    margin: 50px;
    font-size:xx-large;
    font-weight: bold;
    animation-duration: 5s;
    transform: rotate(20deg) translateX(200px);
    animation-name: color;
}



@keyframes color{
    0%{
        background-color: yellowgreen;
        color: white;
    }
    50%{
        background-color: rgb(2, 247, 170);
        color: white;
    }
    100%{
        background-color: yellowgreen;
        color: white;
    }

}


    

