*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div1{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right, red, black);
    border-radius: 15px;
}

.div2{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right, green, orange);
    border-radius: 15px;
}
.div3{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(to right, yellow, blue);
    border-radius: 15px;
}
