*{
    padding: 0;
    margin: 0;
}

body{
    background-color: peachpuff;

}

header {
    background: #FBC4AB;
    color: rgb(0, 0, 0);
    padding: 40px 0;
    text-align: center;
}

nav ul {
    
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(0, 0, 0);
    
}

iframe{
    text-align: center;
}

img{
    padding: 30px;
}

.b1{
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #FBC4AB;
    color: rgb(0, 0, 0);
}