*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas:
      "header header header"
      "nav content sidebar"
      "footer footer footer";
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 200px 1fr 300px;
    height: 100vh;
}

header{
    grid-area: header;
    background-color: #4a90e2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
}

nav{
    grid-area: nav;
    background-color: #4a90e2;
    color: white;
    padding: 10px;
}

main{
    grid-area: content;
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    border: white solid 1px;
}

aside{
    grid-area: sidebar;
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    border: white solid 1px;
}

footer{
    grid-area: footer;
    background-color: #4a90e2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
}