*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas:
        "header header header"
        "aside sect1 sect2 sect3"
        "aside content content content"
        "footer footer footer";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}


header{
    grid-area: header;
    background-color: #6aa2cc;
    text-align: center;
    padding: 10px;
}

aside{
    grid-area: aside;
    background-color: #3884c1;
    text-align: center;
    padding: 10px;
    color: white;
}

.sect1{
    grid-area: sect1;
    background-color: #add8e6;
    text-align: center;
    padding: 10px;
}

.sect2{
    grid-area: sect2;
    background-color: #789bc0;
    text-align: center;
    padding: 10px;
}

.sect3{
    grid-area: sect3;
    background-color: #8cb5d9;
    text-align: center;
    padding: 10px;
}

main{
    grid-area: content;
    background-color: #7fa1cc;
    text-align: center;
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: #467ca3;
    text-align: center;
    padding: 10px;
    color: white;
}
