body{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn1{
    background-color: blue;
    width: 300px;
    height: 100px;
    border-radius: 15px;
}

.btn1:hover{
    transition: 2s;
    background-color: green; 
}

.btn2{
    width: 200px;
    height: 100px;
    transform: scale(2);
}

.btn2:hover{
    transform: scale(3);
    transition: 5s;
    background-image: linear-gradient(to right, black,darkblue);
}